


<!-- Navbar -->
<nav  class="navbar navbar-expand-lg navbar-light " id = "bg-color">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="#">
        <img
          src="assets/logo.png"
          height="50"
          alt="Logo"
          loading="lazy"
        />
      </a>
    
      
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="nav-menu">
        <li class="nav-item">
          <br/> 
          <a class="nav-link" href="#">Check-in |</a>
        </li>

        <li class="nav-item">
          <br/>
          <a class="nav-link" href="#">Flight Status |</a>
        </li>

        <li class="nav-item">
          <br/> 
          <a class="nav-link" href="#">Manage |</a>
        </li>

        <li class="nav-item">
          <br/> 
          <a class="nav-link" href="#">Support |</a>
        </li>

        <li class="nav-item">
          <br/> 
          <a class="nav-link" href="#">NeuPass |</a>
        </li>

        <li class="nav-item">
          <br/> 
          <a class="nav-link" href="#">Partners </a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center">
      <!-- Icon -->
      <a class="text-reset me-3" href="#">
        <i class="fas fa-shopping-cart"id="white-icon"></i>
      </a>
    </div>


    <div class="d-flex align-items-center" >
      <!-- Icon -->
      <a class="text-reset me-3" href="#">
        <i class="bi bi-person-circle" id="white-icon"></i>
      </a>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>



<!-- This is the black bar  -->
<nav  class="navbar navbar-expand-lg navbar-light " id = "bg-color2"></nav>






<!-- this is sheika part-->



<!-- this is the form -->

<form>

 

    <!--Azza-->

    

    <div class="container">
      <div class="board">
          <table style="width: fit-content;">
              <thead>
                  <tr class="main-title">
                    
                    <th id="header-col">
                      Panel Heading
                    </th>
                </tr>

              </thead>
              <!-- Table content goes here -->
              <tbody>
              <tr>
                  <td>
                    
                   
                    <!--All mix-->


                    

<!-- this is sheika part-->



<div class="container">
  <div class="panel panel-default">
    <!-- <div class="panel-heading">Panel Heading</div> -->
  </div>
</div>

<form class="form">
  <strong style="font-family: Arial, Helvetica, sans-serif;">Adult</strong> <br> 

  <div class="form-check form-check-inline" >
    <input id="radio"
      mdbRadio
      class="form-check-input"
      type="radio"
      name="inlineRadioOptions"
      id="inlineRadio1"
      value="Mr"
    />
    <label class="form-check-label" for="inlineRadio1">Mr</label>
  </div>
  <div class="form-check form-check-inline">
    <input  id="radio"
      mdbRadio
      class="form-check-input"
      type="radio"
      name="inlineRadioOptions"
      id="inlineRadio2"
      value="Ms"
    />
    <label class="form-check-label" for="inlineRadio2">Ms</label>
  </div>
  <div class="form-check form-check-inline">
    <input  id="radio" 
      mdbRadio
      class="form-check-input"
      type="radio"
      name="inlineRadioOptions"
      id="inlineRadio3"
      value="Mx"
    />
    <label class="form-check-label" for="inlineRadio3">Mx</label>
  </div>

  <div class="row mb-4">
    <div class="col">
        <input mdbInput type="text" id="form3Example1" class="form-control" placeholder="First or Given Name*" />
    </div>

    <div class="col">
        <input mdbInput type="text" id="form3Example2" class="form-control"  placeholder="Middle Name"/>
      </div>

        <div class="col">
          <input mdbInput type="text" id="form3Example2" class="form-control" placeholder="Last or Surname*" />
        </div>
  </div>

  <div class="form-group">
   
    <input type="date" placeholder="DOB(DD/MM/YYYY)*" /> &nbsp; &nbsp;
    <input type="text" class="form-control" placeholder="Email"> &nbsp;
    <select class="form-control">
      <option>Option 1</option>
      <option>Option 2</option>
      <option>Option 3</option>
    </select> &nbsp;
    <input type="text" class="form-control" placeholder="Mobil No">
  </div> <br/> <br/>

   
</form>

<!-- 
<input type="radio" name="choice" value="show" onclick="showForm()" /> I want to add my passport details.
<form id="hiddenForm" style="display: none;">
  <input type="text" class="form-control" placeholder="Mobil No">
 
</form> -->

<!--part 2 which should be hidden -->
<!-- 
<form >
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Passport Number">
  <input type="date" placeholder="DOB(DD/MM/YYYY)*" /> &nbsp;
  <select class="form-control">
    <option>Option 1</option>
    <option>Option 2</option>
    <option>Option 3</option>
  </select>
  </div>
  <div>
    <select class="form-control">
      <option>Option 1</option>
      <option>Option 2</option>
      <option>Option 3</option>
    </select>
  </div>

 
</form> -->


<!--end shika-->



<!--iman-->


<p-inputSwitch [(ngModel)]="switchOpen" (onChange)="onSwitchChange()"></p-inputSwitch>

<div *ngIf="showTextBox">


     
  <form>

    <div class="container">


    <div class="row">

      <div class="col-md-3" >
        <input type="text" class="form-control" placeholder="Passport Number*">
      </div>


      <!-- <input type="text" class="form-control" placeholder="Passport Number"> -->
      <!-- <input type="date" placeholder="DOB(DD/MM/YYYY)*" /> &nbsp; -->


      <div class="col-md-3">
        <input type="date" placeholder="DOB(DD/MM/YYYY)*" /> &nbsp;
        <!-- <p-calendar [(ngModel)]="date" [showIcon]="true" placeholder="Expiry Date (DD/MM/YYYY)*"></p-calendar> -->
      </div>
      

        <div class="col-md-3">
          <!-- <input type="text" class="form-control" placeholder="Country*"> -->

          <!-- <header>Issusing country </header> -->
          <select class="form-control" id="countryDropdown" [(ngModel)]="selectedCountry" placeholder="choose country">
            <option *ngFor="let country of countriess" [value]="country">{{ country }}</option>
          </select>

        </div>
        <br/> <br/> 

        <div class = "md-3">
          <!-- <input type="text" class="form-control" placeholder="Country*"> -->
          <!-- <wj-combo-box [itemsSource]="countriess"></wj-combo-box> -->
          <header>country of Residence</header>
          <select class="form-control" id="countryDropdown" [(ngModel)]="selectedCountry" placeholder="choose country">
            <option *ngFor="let country of countriess" [value]="country">{{ country }}</option>
          </select>
      

        </div>

    </div>

    </div>

    
  </form>

</div>







<div id="buttoncss">
  <button type="button" class="btn btn-danger" mdbRipple>Save</button>
  <button type="button" class="btn btn-light" mdbRipple>Clear</button>
</div>

<!--End of iman-->

                    


                    <!--End of all mix-->
                  
                  
                  
                  </td> 
              </tr>
              </tbody>
              <!-- Add more table rows as needed -->
          </table>
      </div>
  </div>
    


    <!--End-->
 
</form>
<!-- 
<p-inputSwitch [(ngModel)]="switchOpen" (onChange)="onSwitchChange()"></p-inputSwitch>

<div *ngIf="showTextBox">

  <input type="text" class="form-control" placeholder="Passport Number*">

</div> -->



<router-outlet></router-outlet>
